<form enctype="multipart/form-data" method="post">

    <div class="mb-3">
        <label for="" class="form-label">Título</label>
        <input
            type="text"
            class="form-control"
            name="titulo"
            id="titulo"
            aria-describedby="helpId"
            placeholder="Título"/>

        <label for="" class="form-label">Autor</label>
        <input
            type="text"
            class="form-control"
            name="autor"
            id="autor"
            aria-describedby="helpId"
            placeholder="Autor"/>

        <label for="" class="form-label">Categoria</label>
        <input
            type="text"
            class="form-control"
            name="categoria"
            id="categoria"
            aria-describedby="helpId"
            placeholder="Categoria"/>
        

        <div class="input-group mt-3 mb-3">
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Elija una opción</option>
                <option value="1">Disponible</option>
                <option value="2">No disponible</option>
            </select>
        </div>
            
        <a
        name=""
        id=""
        class="btn btn-primary"
        href="#"
        role="button">Agregar</a>
    
            

    </div>
    

</form>